@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body {
}
.main {
  width: 500px;
  height: 500px;
  background-color: mediumslateblue;
  position: absolute;
  top: 30px;
  left: 30px;
}
.pos1 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 300px;
  background-color: rgb(141, 189, 103);
}
.pos2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  background-color: cornflowerblue;
}
.pos3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  background-color: aquamarine;
}
